.feature-button {
  display: inline-block;
  img {
    max-height: 80%;
    max-width: 80%;
  }
  .image-container {
    display: inline;
  }
}

@media screen and (orientation:landscape) {
  .feature-button {
    height: 60%;
    img {
      max-height: 60%;
      max-width: 60%;
    }

    .image-container {
      height: 60%;
      width: auto;
      display: inline;
    }
  }
}
