.feature-button {
  display: inline-block;
  margin: 10% 0;
  img {
    max-height: 100%;
    max-width:100%;
  }
  .image-container {
    display: inline;
  }
}

@media screen and (orientation:landscape) {
  .feature-button {
    height: 100%;
    margin: 0 10%;

    .image-container {
      height: 100%;
      width: auto;
      display: inline;
    }
  }
}
