.feature-button {
  display: inline-block; }
  .feature-button img {
    max-height: 80%;
    max-width: 80%; }
  .feature-button .image-container {
    display: inline; }

@media screen and (orientation: landscape) {
  .feature-button {
    height: 75%; }
    .feature-button img {
      max-height: 75%;
      max-width: 75%; }
    .feature-button .image-container {
      height: 75%;
      width: auto;
      display: inline; } }
