#feature-list {
  display: flex;
  position: fixed;
  top: 10%;
  right: 5%;
  width: 10%;
  height: 80%;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: column; }

@media screen and (orientation: landscape) {
  #feature-list {
    flex-direction: row;
    height: 10%;
    width: 60%;
    margin-bottom: 2%;
    top: auto;
    bottom: 0;
    right: 20%;
    justify-content: space-around;
    text-align: center; } }
